
name: Auto Label Issues

on:
  issues:
    types: [opened]

jobs:
  label-issues:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
    - name: Label issue based on title
      uses: actions/github-script@v6
      with:
        script: |
          const issueTitle = context.payload.issue.title.toLowerCase();
          const issueNumber = context.issue.number;
          const owner = context.repo.owner;
          const repo = context.repo.repo;
          let labels = [];

          if (issueTitle.includes('error')) {
            labels.push('bug');
          }
          if (issueTitle.includes('add')) {
            labels.push('feature');
          }

          if (labels.length > 0) {
            // Check if the labels exist, if not, create them
            for (const labelName of labels) {
              try {
                await github.rest.issues.getLabel({
                  owner,
                  repo,
                  name: labelName,
                });
              } catch (error) {
                if (error.status === 404) {
                    const color = labelName === 'bug' ? 'd73a4a' : '0e8a16';
                    await github.rest.issues.createLabel({
                      owner,
                      repo,
                      name: labelName,
                      color: color,
                    });
                }
              }
            }

            await github.rest.issues.addLabels({
              owner,
              repo,
              issue_number: issueNumber,
              labels: labels
            });
          }
